
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli ', sans-serif;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.container {
  display: flex;  
  width: 90vw;
}

.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
     font-size: 24px;
     position: absolute;
     bottom: 20px;
     left: 20px;
     margin: 0; 
      opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3{
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

    @media (max-width: 480px) {
    .container {
       width: 100vw;
       background-color: #989898;
     }
    
   

   .panel:nth-last-of-type(4),
   .panel:nth-last-of-type(5) {
     display: none;
   }
  }

 /* Add this to your index.css file */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 1em;
  border-bottom: 1px solid #444;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav li {
  /* margin-right: 20px; */
  margin: 0 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}

header nav a {
  color: #fff;
  text-decoration: none;
}

header nav a:hover {
  color: #989898;
  font-size: large;
  border: 2px solid white;
  border-radius: 10%;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 1em;
  border-top: 1px solid #444;
  text-align: center;
}

footer p {
  margin-bottom: 10px;
}

/* Optional: add a slight shadow to the header and footer */

header, footer {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

